.carousel-inner .item{
// 	background: #a7cfdf; /* Old browsers */
// 	background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
// 	background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
// 	background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
//     text-align: center;
    height: 100vh;/*change as your needs*/
}
.control-buttons{
	text-align:center;
}
.transition-timer-carousel-progress-bar {
    height: 0px;
    background-color: #5cb85c;/*progress bar color*/
    width: 0;
    margin: 0 0 0 0;
    border: none;
    z-index: 5;
    position: relative;
}
.carousel-control{
	z-index: 5;
}

.item:nth-child(1) {
    background: url(/imgs/Accueil/carrousel/img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    }
    .item:nth-child(2) {
    background: url(/imgs/Accueil/carrousel/img2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    }
    .item:nth-child(3) {
    background: url(/imgs/Accueil/carrousel/img3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    }
@media screen and (max-width: 391px) {
    #mediaqueries{
        height: 50vh;
    }
}
    // .carousel-caption {
    //     text-shadow: 0 1px 4px rgba(0,0,0,.9);
    //     font-size:17px
    //     }
    //     .carousel-caption h3 {
    //     font-size: 30px;
    //     font-family: 'Lato', sans-serif;
    //     }
    //     .carrousel-fade .carrousel-control {
    //     z-index: 5;
    //     }
    //     .carousel-caption {
    //         margin-bottom: 150px;
    //         }