.titre
{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-top: 50px;
}



.blocun
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


.imgun
{
margin-top: 200px;
img {
    object-fit: cover;
    height: 500px;
}

}

.texteun
{
 margin-top: 200px;
   width: 60%;
   p{
    font-size: 25px;
    // padding: 100px 200px;
 font-family: 'Mukta Mahee', sans-serif;
    // width: 500px;
}
h2{
    text-align: center;
   margin-bottom: 35px;
}
    
}



.blocdeux
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    justify-content: center;
    column-gap: 30px;
    h2{
        display: flex;
        font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 30px;
    align-items: center;
    } img {
        height: 60px;
        
    }
}

.textedeux
{
    margin-top: 15px;
   display: flex;
   justify-content: center;
   p{
    font-size: 25px;
 font-family: 'Mukta Mahee', sans-serif;
   }
   
}

.imgdeux{
    position: relative;
    img
{
    height: 400px;
    width: 300px;
    object-fit: cover;
   
}
} 

.bloctrois
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
    
.posi
{
    font-size:30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    visibility: none;
    position: absolute;
    top: 0; left: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.459);
    margin: 0;
    p{
        margin-top: 180px;
    }
    
}

.imgdeux:hover .posi{
    visibility: visible;
    opacity: 1;
}



@media screen and (max-width: 1500px) {

    .texteun
    {
     margin-top: 50px;
       width: 70%;
    }

    .bloctrois
{
    row-gap: 50px;
    .imgdeux{
        position: relative;
        img
    {
        height: 270px;
        width: 300px;
        object-fit: cover;
       
    }
    } 
}
.textedeux
{
    margin-top: 15px;
   display: flex;
   justify-content: center;
  
   p{
    font-size: 25px;
 font-family: 'Mukta Mahee', sans-serif;
 width: 70%;
   }
   
} 
}










