.corp3{
    max-width: 1400px;
    margin: auto;
    border: 1px solid black;
    padding-bottom: 100px;
    .titre_corp3{
        text-align: center;
        padding-bottom: 20px;
    }
    .txt_corp3{
        text-align: center;
        padding-bottom: 50px;
    }

    .bloc_images{   
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;   
        img{
            height: 300px;
            display: block;
        }
        .monbloc{
            position: relative;
            .montxt{
                height: 100%;
                width: 100%;
                opacity: 0;
                position: absolute;
                top: 0px;
                left: 0px;
                color: white;           
                .commentaire_corp3{
                    text-align: center;
                    padding: 10px;
                    padding-top: 180px;
                    font-weight: bold;
                    font-size: 30px;
                }
            }
            &:hover .montxt{
                opacity: 1;
            }
        }            
    }
}