.faq {
    max-width: 1000px;
    margin: auto;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 26px;
    h1 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top:50px;
        padding-bottom: 50px;
        font-size: 40px;
    }
    p {
        font-size: large;
        padding-bottom: 20px;
    }
    ul {
        font-size: large;
        padding-bottom: 25px;
        margin-left: 25px;
    }
    hr {
        width: 1000px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h2 {
        font-family: 'Poppins', sans-serif;
        padding-bottom: 50px;
        font-size: 30px;
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        padding-bottom: 25px;
        font-size: 26px;
    }
    h4 {
        font-family: 'Poppins', sans-serif;
        padding-bottom: 15px;
        font-size: large;
    }

    i {
        margin-right: 10px;
    }
}

@media screen and (max-width: 390px) {
    .faq {
        hr {
            width: 95%;
        }
        max-width: 350px;
        margin: auto;
    }
}







