.bouton{
    background-color: $euroVelo6;
    border: none;
    width: 250px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $white;
 
    &:hover{
        background-color: $white;
        color: $euroVelo6;
    }
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.formulaire{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 10px;
    position: absolute;
    z-index: 5;
    top: 80%;
    .bouton{
        margin: 10px;
    }
}

.input-icons {
    max-height: 35px;
    margin: 10px;

    i  {
        padding-left: 10px;
        padding-top: 10px;
        position: absolute;
    }
}

.icon {
    padding: 10px;
    color: $black;
    min-width: 50px;
}

.input-field {
    width: 250px;
    height: 35px;
    padding-left: 40px;
    outline: none;
    border: none;
}

.color1 {
    color: $beginner;
}

.color2{
    color:  $expert;
}

@media screen and (max-width: 391px) {
    .formulaire{
        margin-left: 0%;
        top: 40%;
    }
}