.bouton
{
 background-color: $euroVelo6;
 border-color: $euroVelo6;
 width: 250px;
padding: 5px;
 font-size: 20px;
 color: $white;
 
 &:hover
 {
    background-color: $white;
    color: $euroVelo6;
 }
}


.formulaire
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    gap: 10px;



    position: absolute;
    z-index: 5;
    margin-left: 25%;
    // left: 20%;
    top: 70%;
 
}

.input-icons i {
    position: absolute;
}

.input-icons {
    bottom: 10px;
}

.icon {
    padding: 10px;
    color: black;
    min-width: 50px;
}

.input-field {
    width: 250px;
    padding: 10px;
    padding-left: 40px;
}

.fa-regular {
    margin-top: 14px;
    margin-left: 10px;
}

.color1 {
    color: $beginner;
}

.color2{
    color:  $expert;
}


@media screen and (max-width: 1400px) {

    .formulaire{
        // flex-direction: column;
        margin-left: 32%;
        top: 60%;
      
    }
    

}