.bouton
{
 background-color: $euroVelo6;
 border-color: $euroVelo6;
 width: 250px;
padding: 5px;
 font-size: 20px;
 color: $white;
 
 &:hover
 {
    background-color: $white;
    color: $euroVelo6;
 }
}


.formulaire
{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    gap: 10px;
    
    
    
}

.input-icons i {
    position: absolute;
}

.input-icons {
    bottom: 10px;
}

.icon {
    padding: 10px;
    color: black;
    min-width: 50px;
}

.input-field {
    width: 250px;
    padding: 10px;
    padding-left: 40px;
}

.fa-regular {
    margin-top: 10px;
    margin-left: 10px;
}

.color1 {
    color: $beginner;
}

.color2{
    color:  $expert;
}