// truc d'alexis pour les images
// img {
//     -o-object-fit: cover;
//        object-fit: cover;
//     width: 600px;
//     height: 250px;
//   }

// truc de nicolas pour les background :
//     background-image: url(/imgs/Itinéraires/headeritinérairee.jpg);
//     background-repeat: no-repeat;
//     background-size:cover ;

.imageDuHeader{
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    z-index: 6;
    box-shadow: 0px 5px 10px $darkGray;
    a{
        text-decoration: none;
        color: $white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    a:hover{
        color: $euroVelo6;
    }

    .headerDisplayNone{
        display: none;
    }

    .headerDisplay{
        display: flex;
        justify-content: space-between;
        i, img{
            color: $white;
            font-size: 20px;
            margin: 10px;
            max-width:20px;
            max-height:20px;
        }

        i:hover{
            color: $euroVelo6;
        }
                
        ul{
            margin: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
        }
    }

    nav{
        display: flex;
        justify-content: space-between;
        background-color: $white;
        height: 80px;
        width: 100%;
        // position: fixed;

        div{
            div{
                a{
                    margin-left: 10px;
                    img{
                        margin: 10px;
                        width: 50px;
                        height: 50px;
                    }
                    img:hover{
                        opacity: 50%;
                        border-radius: 10%;

                    }
                }
            }
        }

        div{
            ul{
                padding: 0;
                list-style-type: none;
                display: flex;
                align-items: center;
                    
                li{
                    a{
                        color: $black;
                    }
                    margin:0 10px 0 10px;
                }
                li:hover{
                    color: $euroVelo6;
                }
            }
        }

        div{
            display: flex;
            align-items: center;
            a{
                margin-right: 20px;
                i{
                    color: $euroVelo6;
                    font-size: 30px;
                }
                i:hover{
                    color: $black;
                }
            }
        }
    }
}