// truc d'alexis pour les images
// img {
//     -o-object-fit: cover;
//        object-fit: cover;
//     width: 600px;
//     height: 250px;
//   }

// truc de nicolas pour les background :
//     background-image: url(/imgs/Itinéraires/headeritinérairee.jpg);
//     background-repeat: no-repeat;
//     background-size:cover ;

.imageDuHeader{
    object-fit: cover;
    width: 100%;
    max-height: 450px;
}

header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    z-index: 6;
    box-shadow: 0px 5px 10px $darkGray;
    a{
        text-decoration: none;
        color: $white;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
    }
    a:hover{
        color: $euroVelo6;
        text-decoration: none;
    }

    .headerDisplay{
        display: flex;
        justify-content: space-between;
        visibility: visible;
        height: 50px;
        background-color: $blue;
        opacity: 85%;

        a{
            font-family: 'Mukta Mahee', sans-serif;
            font-size: 14px;
        }

        a:hover{
            color: $euroVelo6;
            text-decoration: none;
        }
    
        i{
            color: $white;
            font-size: 21px;
            margin: 10px;
            max-width:24px;
            max-height:24px;
            margin-left: 35px;
            margin-top: 15px;

        }

        i:hover{
            color: $euroVelo6;
        }

        img{
            margin: 5px 30px 0 50px;
        }

        img:hover{
            opacity: 50%;
        }

        ul{
            margin: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
        }
    }

    .headerDisplayNone{
        visibility: hidden;
        div{
            height: 0px;
        }
    }

    nav{
        display: flex;
        justify-content: space-between;
        background-color: $white;
        height: 80px;
        width: 100%;

        div{
            div{
                a{
                    margin-left: 10px;
                    img{
                        margin: 10px;
                        width: 50px;
                        height: 50px;
                    }
                    img:hover{
                        opacity: 50%;
                    }
                }
            }
        }

        div{
            ul{
                padding: 0;
                list-style-type: none;
                display: flex;
                align-items: center;
                    
                li{
                    a{
                        color: $black;
                    }
                    margin:0 10px 0 10px;
                }
                li:hover{
                    color: $euroVelo6;
                }
            }
        }

        div{
            display: flex;
            align-items: center;
            button{
                border: none;
                background-color: $white;
                margin-right: 20px;
                width: 25px;
                height: 25px;
                i{
                    color: $euroVelo6;
                    font-size: 21px;
                }
                i:hover{
                    color: $black;
                }
            }
        }
    }

    .loupeClosed{
        display: none;
    }
    
    .loupeOpen{

        form{
            display: flex;
            width: 100%;   

            .loupeform1{
                width: 100%;    
            }

            .loupeform2{
                width: 100px;
                margin: 0;
                padding: 0;
            }

            .search{
                border: none;
                background-color: $black;
                color: $white ;
                width: 100%;   
                height: 50px;
                outline: none;
                padding-left: 100px;
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
            }
            .search:focus{
                background-color: $darkBlue;
                color: $white;
            }
            .send{
                border: none;
                color: $white ;
                height: 50px;
                outline: none;
                padding-left: 100px;
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                padding: 0;
                background-color: $blue;
                width: 10%;
                min-width: 100px;
            }
            .send:hover{
                background-color: $black;
            }
        }
    }
}

.burger{
    display: none;
}

aside{
     display: none;
}

@media screen and (max-width: 920px) {
    header{
        display: none;
    }
    .burger{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        
        background-color: white;
        color: rgb(0, 0, 0);
        position: fixed;
        top: 15px;
        left: 25px;
        cursor: pointer;
        // display: none;
        z-index: 1000;
        i{
            font-size: 20px;
        
            color: rgb(0, 0, 0);
              }
    }
    .menu-cote{
    display: block;
    position: fixed;
    top: 0;
    width: 200px;
    height: 100vh;
    text-align: center;
    padding: 20px 5px;
   background-color: rgb(255, 255, 255);
//    backdrop-filter: blur(10px) ;
    // border-right: 1px solid black;
    box-shadow: 0px 5px 10px $darkGray;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
    z-index: 1001;
    .positionlogo{
        // margin-top: 50px;
        position: absolute;
        top: 70px;
       left: 50px;
    }
    #logo{
        display: flex;
        column-gap: 20px;
        justify-content: center;
    }
    img{
        width: 30px;
        
    }
    .positionreseau{
        display: flex;
        width: 40%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        i{
            font-size: 30px;
        }
    }
    }
    .menu-cote.active{
        transform: translateX(0);
    }
.top-menu{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid rgb(0, 0, 0);
    background: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    &:hover{
        text-decoration: none;
        color: $euroVelo6;
    }
}
.navmedia{
    
    margin: 130px 0px;
    a{
        display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    list-style: none;
    font-weight: 600;
   line-height: 60px;
   &:hover{
    text-decoration: none;
    color: $euroVelo6;
}
    }
    
}
    }

//     @media screen and (max-width: 391) {
//         .menu-cote{
           
//             .positionlogo{
               
//             }
//             img{
//                 width: 15px;
                
//             }
//             .positionreseau{
//                 display: flex;
//                 width: 40%;
//                 justify-content: space-between;
//                 margin-left: auto;
//                 margin-right: auto;
//                 i{
//                     font-size: 30px;
//                 }
//             }
        
//     }
// }


// @media screen and (max-width: 391px){
//     header{
//         width: 100%;
//         display: flex;
//         flex-wrap: wrap;
//         nav{
//             padding-top: 15px;
//             height: 100%;
//             div{
//                 justify-content: center;
//                 .testResponsive{
//                     display: flex;
//                     width: 100%;
//                 }
//             }
//             flex-direction: column;
//             img{
//                 display:none
//             }
//             ul{
//                 flex-direction: column;
//                 min-width: 100%;
//                 li{
//                     a:hover{
//                         color: $euroVelo6;
//                     }
//                 }
//             }
//         }

//         .headerDisplay{
//             display: none;
//         }

//         #button{
//             padding: 5px;
//             margin-left: 200px;
//             width: 20px;
//         }
//     }
// }