.itineraire{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    .gauche_itineraire{  
        width: 400px;
        height: 400px; 
        overflow-y: scroll;   
        scrollbar-color: $euroVelo6 white;
        scrollbar-width:  auto; 
        background-color: aqua;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .un_itineraire{
            width: 400px;
            height: 200px;
            background-color: orange;
            border: 1px solid black;
        }
        img{
            
        }
    }
    .droite_itineraire{
        background-color: brown;
        .carte iframe{
            width: 800px;
            height: 400px;
            display: block;
        }
    }
}