.titreitineraires{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.leaflet-interactive:hover{
    stroke: red;
}

.itineraire{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    padding-top: 60px;
    margin-bottom: 100px;
    .gauche_itineraire{  
        width: 550px;
        height: 600px; 
        overflow-y: scroll;   
        scrollbar-color: $euroVelo6 white;
        scrollbar-width:  auto; 
        display: flex;
        flex-direction: column;
        gap: 10px;

        a{
            text-decoration: none;
        }
        
        .un_itineraire:hover{
            background-color: $black;
            border-radius: 10px;
            overflow: hidden;

            img {
                height: 150px;
                width: 150px;
                object-fit: cover;
                transition: 0.5s;
                filter: blur(2px);
                transform: scale(1.08);
            }
            
            .p2{
                color: $white;
            }

            .p4{
                color: $white;
            }
        }

        .un_itineraire{
            max-width: 500px;
            background-color: $white;
            display: flex;
            padding: 10px;

            .descr{
                display: flex;
                flex-direction: column;
               
                div{
                    display: flex;

                    .p1{
                        font-family: 'Mukta Mahee', sans-serif;
                        font-size: 14px;
                        background-color: $euroVelo6;
                        padding: 10px;
                        margin-top: 10px;
                        color: $white;  
                        width: 100%;
                         
                    } 
                    .fa-regular{
                        color: $euroVelo6;
                        padding: 10px;
                    }
                }
            }
    
            .p2{
                font-family: 'Mukta Mahee', sans-serif;
                font-size: 14px;
                color: black;
                padding: 10px;
            } 
            .vert{
                font-family: 'Mukta Mahee', sans-serif;
                font-size: 14px;
                padding: 0px 5px 5px 30px;
                color: $beginner;
            }
            .bleu{
                font-family: 'Mukta Mahee', sans-serif;
                font-size: 14px;
                padding: 0px 5px 5px 30px;
                color: $competent;
            }
            .rouge{
                font-family: 'Mukta Mahee', sans-serif;
                font-size: 14px;
                padding: 0px 5px 5px 30px;
                color: $expert;
            }
            .p4{
                font-family: 'Mukta Mahee', sans-serif;
                font-size: 16px;
                color:black;
                padding: 10px;
            }
        }
        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
    .droite_itineraire{
     
    #map{
        width: 810px;
        height:600px;
        z-index: 5;
        }
    }
}


@media screen and (max-width: 391px) {
    .titreitineraires{
    padding: 20px;
    margin-top: 50px;
    font-size: 30px;
    }

    .itineraire{
        margin-bottom: 0;
        padding-top: 50px;
        justify-content: space-around;

        .gauche_itineraire{
            box-shadow: 0 -1px 5px $darkGray;
            width: 90%;
        }
        
        .carte{
            width: 90%;
            padding: 50px;

            #map{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }
}