.legal-mentions {
    h1 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-bottom: 20px;
        font-size: 40px;
    }
    img {
        padding-bottom: 70px;
    }
}

.mentions {
    display: flex;
    flex-direction: column;
    // background: red;
    max-width: 900px;
    margin: auto;

    h2 {
        font-family: 'Poppins', sans-serif;
        padding-bottom: 25px;
        padding-top: 25px;
        font-size: 30px;
    }

    p {
        font-family: 'Mukta Mahee', sans-serif;
        padding-bottom: 10px;
        padding-top: 5px;
    
        font-size: larger;
        font-size: 18px;
    }

    a {
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: $euroVelo6;
        font-size: large;
    }

    .droits-auteur {
        h3 {
            font-family: 'Poppins', sans-serif;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }

    .credits {
        h3 {
            font-family: 'Poppins', sans-serif;
            padding-top: 20px;
            font-size: 26px;
        }
    }

    .cookies {
        h3 {
            font-family: 'Poppins', sans-serif;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }

    .info-cofinance {
        padding-top: 50px;
        font-weight: bold;
    }
}

@media screen and (max-width: 391px) {
    .legal-mentions{
        padding: 20px;

    }
    .mentions {
        max-width: 700px;
        margin: auto;
    }
}