.titredeux
{
    text-align: center;
    border: 2px solid black;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 5px;
}



.hebergement
{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    row-gap: 50px;


    img 
{
    height: 400px;
    width: 600px;
    margin-top: 10px;
}
.hebun{
    position: relative;
    img{
        object-fit: cover;
    }
}
.hot
{
    font-size:20px;
            color: rgb(255, 255, 255);
            width: 100%;
            height: 100%;
            visibility: none;
            position: absolute;
            top: 0; left: 0;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.779);
            font-family: 'Maitree', serif;
            opacity: 0;
            transition: opacity 0.3s;
            p{
                font-weight: bold;
                margin-top: 200px;
            }
}
.hebun:hover .hot{
    visibility: visible;
    opacity: 1;
}
}
