// Couleurs du projet
$euroVelo5 :#e5b9d5;
$euroVelo6 :#c60086;
$blue :#003399;
$darkBlue :#00246b;
$yellow:#efd51f;
$lightGray:#F4F4F4;
$Gray:#a7a9ac;
$darkGray:#585858;
$white:#ffffff;
$black:#000000;
$beginner:#52BE80;
$competent:#3498DB;
$expert:#E74C3C;
$stars:#dcba1b;
